body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h3 {
  display: inline-block;
}

.current-date {
  display: inline;
}

.list-group li{
  margin-top: 1rem;
  list-style-type: none;
}

li:hover{
  background-color: lightslategray;
  cursor: pointer;
}